{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'signin.css' %}">

   
        
</head>
<body>

    <form method="POST">
        <h1>Signin Form</h1>

        {% csrf_token %}
        
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        
        <label for="username">Username:</label>
        <input type="text" name="username" required>

        <label for="password">Password:</label>
        <input type="password" name="password" required>

        <button type="submit">Submit</button>

        <h4>If not registered, <a href="{% url 'signup' %}">signup</a></h4>
    </form>

</body>
</html>
{% endblock content %}
