body{
    background-color: #e9b012;
}


.hero {
      background: url("https://source.unsplash.com/1600x600/?food,restaurant") no-repeat center center/cover;
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(40, 40, 38);
      font-size: 2rem;
      text-shadow: 2px 2px 5px black;
    }
    .search-box {
      margin: 20px auto;
      max-width: 600px;
      display: flex;
      border: 2px solid #ccc;
      border-radius: 8px;
      overflow: hidden;
    }
    .search-box input {
      flex: 1;
      padding: 10px;
      border: none;
      font-size: 1rem;
    }
    .search-box button {
      background: #fbeefb;
      color: rgb(215, 132, 38);
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      font-weight: bold;
    }
    .restaurants {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      padding: 30px;
    }
    .card {
      border: 1px solid #ddd;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    }
    .card img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
    .card h3, .card p {
      margin: 10px;
    }